:root {
    --scale-factor: 1
}

@media only screen and (max-width: 1200px) {
    :root {
        --scale-factor:0.97
    }
}

@media only screen and (max-width: 1100px) {
    :root {
        --scale-factor:0.95
    }
}

@media only screen and (max-width: 975px) {
    :root {
        --scale-factor:0.93
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --scale-factor:0.79
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --scale-factor:0.73
    }
}

html {
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: #333333;
	/* font-family: Arial,Roboto,sans-serif; */
	background: #fff
}

footer{
	margin-top:20px;
	margin-bottom:10px;
}

*,:after,:before {
	box-sizing: border-box;
	margin: 0
}

.site-title{
	text-align: center;
	margin-top:18px;
	font-size: 48px;
	font-weight: 700;
	min-height: 55px;
	max-width: 210px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	animation: pulse 1s infinite alternate-reverse
}

.nav{
	text-align:center;
	margin-top:10px;
}

.navLink {
	color: #000;
}

.navLink.active{
	color:#EE0451;
}
.navLink:hover {
	color:#EE0451;
	transform: scale(1.02);
	filter: drop-shadow(3px 3px 5px rgba(0,0,0,.17))
}

.container {
	display: grid;
	margin-top: 10px;
	font-size: 0;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	grid-gap: 20px 22px;
	justify-content: center;
	padding: 0 25px;
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto
}

.about{
	
}
.copyright{
	margin-top:20px;
	font-size:12px;
}

@media only screen and (max-width: 1280px) {
	.container {
		grid-gap:15px 16px
	}
}

@media only screen and (max-width: 1130px) {
	.container {
		grid-template-columns:1fr 1fr;
		max-width: 900px;
		grid-gap: 15px 18px
	}
}
@media only screen and (max-width: 600px) {
	.container {
		grid-template-columns:repeat(1,1fr);
		grid-gap: 7px;
		padding: 0 8px
	}
	
	.site-title {
		margin-top: 55px;
		font-size: 48px
	}
}

.link {
	aspect-ratio: 391/145;
	display: block;
	position: relative;
	z-index: 2;
}

.link-img {
	border-radius: 10px;
	border: 2px solid gray;
	max-width: 100%;
	cursor: pointer;
	transition: transform .07s linear,filter .1s ease-out,opacity .15s linear;
	opacity: 1
}

.link-img:hover {
	border: 2px solid black;
	transform: scale(1.01);
	filter: drop-shadow(3px 3px 5px rgba(0,0,0,.17))
}

//text
.text-left{ text-align:left; }
.text-center{ text-align:center; }
.text-right{ text-align:right; }
.text-justify{ text-align:justify; }